@use "variables" as *;

// NAV STYLES SECTION
.navNovas img {
    width: 100px;
}

#home {
    padding-top: 0;
}
#home li {
    list-style: none;

}

#home li:hover {
    // How to make it only half undering when hovering?
    text-decoration: underline;
}

header .wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

nav {
    // Struggled to get nav background color span across entire page... but working on contact page.
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $White;
}

nav ul {
    display: flex;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none;
}

.checkout img {
    width: 30px;
}

a {
    color: $DGrey; 
    text-decoration: none;
}

// HEADER STYLES SECTION 
.homeSection {
    background-image: url(../assets/home.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 6rem;
    margin-bottom: 15px;
}

.headerContainer {
    display: flex;
    justify-content: center;
    padding-top: 190px;
    width: 50%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainer p {
    width: 250px;
    line-height: 20px;
    margin-top: 0px;
}   

// MEDIA QUERIES
@media (max-width: 600px) {
    .navNovas, .checkout{
        display: none;
    }
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        align-items: center;   
    }
    .textContainer {
        margin-left: 5rem;
    }
}

