@use "variables" as *;

// SOFA SALE SECTION STYLES

#sofaImg1 {
    background-image: url(../assets/vert1.jpg);
    background-size: cover;
    position: relative;
    height: 415px;
    width: 300px;
}

#sofaImg2 {
    background-image: url(../assets/vert2.jpg);
    background-size: cover;
    position: relative;
    height: 415px;
    width: 600px;
}

.sofaSale {
    display: flex;
    gap: 25px;
    justify-content: center;
}

#ss1 {
    // text doesn't stay in backfround when smaller
    position: absolute;
    color: #d7b89c;
    background-color: $White;
    padding: 3px 20px 21px;
    top: 65%;
    bottom: 50%;
    right: 29%;
    font-weight: 500;
    font-size: 1.6rem;
}

#ss2 {
    position: absolute;
    top: 70%;
    bottom: 50%;
    right: 26%;
    color: $White;
    font-weight: bold;
    font-size: 3.5rem;
}

#ss3 {
    position: absolute;
    top: 87%;
    bottom: 35%;
    right: 31%;
    color: $White;
    font-weight: 500;
    font-size: 1.6rem;
}

#ss4 {
    display: block;
    border: 1px solid $White;
    color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px; 
    text-align: center;
    align-items: center;
    margin: 36px 140px 0 140px;
}

span {
    font-size: 5.0rem;
    font-weight: 700;
}

@media (max-width: 800px) {
    #sofaImg1 {
        display: none;
    }
    #sofaImg2 {
        width: 60%;
    }
    #sofaImg2 p, span {
        font-size: 2rem;
    }
}