// Style Guide - Novas
// Colour Palette#eba6aa
// Pink
// #eba6aa
// Darkey Grey
// #333
// Light Grey
// #666
// Blue
// #88cce2
// White
// #fff
// #d7b89c

$Pink: #eba6aa;
$DGrey: #333;
$LGrey: #666;
$Blue: #88cce2;
$White: #fff;
