@use "./partials/variables" as *;
@use "./partials/setup";
@use "./partials/header";
@use "./partials/secondSection";
@use "./partials/featuredSection";
@use "./partials/sofaSection";
@use "./partials/instagramSection";
@use "./partials/carousel";
@use "./partials/footer";
@use "./partials/contactPage";


// Style Guide - Novas
// Colour Palette
// Pink
// #eba6aa
// Darkey Grey
// #333
// Light Grey
// #666
// Blue
// #88cce2
// White
// #fff
// #d7b89c

// Text Style Catalog
// Main Heading Text (NOVAS Boutique Shop)
// Section Headings (Featured Sale, ...)
// MENU ITEMS
// Product names
// Poppins, Medium (500)
// Body text (lorem ipsum, View All)
// Poppins, Regular (400)
// Body text (50% 0ff)
// Poppins, Bold (700)

// font-family: 'Poppins', sans-serif;

// GENERIC STYLES
html {
    font-size: 62.5%
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}






