@use "./partials/setup";
@use "./partials/header";


// Style Guide - Novas
// Colour Palette
// Pink
// #eba6aa
// Darkey Grey
// #333
// Light Grey
// #666
// Blue
// #88cce2
// White
// #fff
// #d7b89c

// Text Style Catalog
// Main Heading Text (NOVAS Boutique Shop)
// Section Headings (Featured Sale, ...)
// MENU ITEMS
// Product names
// Poppins, Medium (500)
// Body text (lorem ipsum, View All)
// Poppins, Regular (400)
// Body text (50% 0ff)
// Poppins, Bold (700)

// font-family: 'Poppins', sans-serif;

// GENERIC STYLES

html {
    font-size: 62.5%
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

// SECOND SECTION STYLES

.sSFlexContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.sSFlexContainer div {
    background-size: cover;

}

.sSFlexContainer div p {
    background-color: #fff;
    position: absolute;
}

.plants {
    padding-top: 30px;
}

.plants img {
    height: 350px;
    width: 250px;
}

.plants p {
    position: absolute;
    bottom: -448px;
    padding: 10px 20px 10px 10px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.furniture img {
    height: 350px;
    width: 250px;
}

.furniture p {
    position: absolute;
    bottom: -418px;
    padding: 10px 20px 10px 10px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.decor {
    padding-top: 30px; 
}

.decor img {
    height: 350px;
    width: 250px;
}

.decor p {
    position: absolute;
    bottom: -448px;
    padding: 10px 20px 10px 10px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}


// FEATURED SALE SECTION STYLES

.featuredSection h2 {
    // Hos to get the semi underline??
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
}

.featuredFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.prodDetails {
    display: flex;
    // flex-wrap: nowrap;
    justify-content: space-between;
}

.prodDetails h4 {
    font-size: medium;
    font-weight: 500;
    margin-bottom: 10px;
}

.prodDetails p {
    font-size: small;
}

// .prodNamePrice {
//     display: flex;
//     flex-direction: column;
// }

.prodDetails img {
    height: 3rem;
    width: 3rem;
    margin: 35px;
}

button {
    // might need to be more specific in button name later :)
    display: block;
    margin: 20px auto 80px;
    padding: 13px 30px;
    border: 2px solid #666;
    background-color: #fff;
    text-align: center;
    font-size: medium;

}

// SOFA SALE SECTION STYLES

#sofaImg1 {
    background-image: url(../assets/vert1.jpg);
    background-size: cover;
    // might not need to be relative?
    position: relative;
    height: 415px;
    width: 300px;
}

#sofaImg2 {
    background-image: url(../assets/vert2.jpg);
    background-size: cover;
    position: relative;
    height: 415px;
    width: 600px;
}

.sofaSale {
    display: flex;
    gap: 25px;
    justify-content: center;
}

#ss1 {
    // text doesn't stay in backfround when smaller
    position: absolute;
    color: #d7b89c;
    background-color: #fff;
    padding: 3px 20px 21px;
    top: 65%;
    bottom: 50%;
    right: 29%;
    font-weight: 500;
    font-size: medium;
}

#ss2 {
    position: absolute;
    top: 70%;
    bottom: 50%;
    right: 26%;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

#ss3 {
    position: absolute;
    top: 87%;
    bottom: 35%;
    right: 31%;
    color: #fff;
    font-weight: 500;
    font-size: medium;
}

#ss4 {
    // position: absolute;
    // top: 50%;
    // bottom: 50%;
    // right: 37%;
    display: block;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px; 
    text-align: center;
    align-items: center;
    margin: 60px 140px 0 140px;
}

span {
    font-size: large;
    font-weight: 700;
}
// INSTAGRAM GALLERY STYLES
.instagram h2 {
    margin-top: 300px;
    text-align: center;
}

.instagram p {
    text-align: center;
}

.instaGallery {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: calc(100% - 0px);
    // How to make images not squish when making screen smaller?
}

.instaGallery div {
    width: calc(20% - 0px);
}

// .instaGallery img {
//     width: auto;
// }


// FOOTER SECTION STYLES
footer {
    background-color: #333;
    color: #fff;
    padding: 100px 100px;
    margin-top: 80px;
}

footer ul {
    padding: 0;
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
}

.footerNovas{
    max-width: 25%;
}

.footerNovas img {
    height: 2rem;
    width: 10rem;
}

footer img {
    // how to make space between icon and text??
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

footer li {
    list-style: none;
}

.socialIcons img {
    height: 1.5rem;
    width: 1.5rem;
}
