@use "./partials/setup";
@use "./partials/header";


// Style Guide - Novas
// Colour Palette
// Pink
// #eba6aa
// Darkey Grey
// #333
// Light Grey
// #666
// Blue
// #88cce2
// White
// #fff
// #d7b89c

// Text Style Catalog
// Main Heading Text (NOVAS Boutique Shop)
// Section Headings (Featured Sale, ...)
// MENU ITEMS
// Product names
// Poppins, Medium (500)
// Body text (lorem ipsum, View All)
// Poppins, Regular (400)
// Body text (50% 0ff)
// Poppins, Bold (700)

// font-family: 'Poppins', sans-serif;

// GENERIC STYLES

html {
    font-size: 62.5%
}

// HEADER STYLES
img {
    width: 200px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 6rem;
}



// SECOND SECTION STYLES
.sSFlexContainer {
    display: flex;
}

.sSFlexContainer div {
    background-size: cover;

}

.sSFlexContainer div p {
    background-color: white;
    position: absolute;
}

// FEATURED SECTION STYLES

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.featuredFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.prodDetails {
    display: flex;
    // flex-wrap: nowrap;
    justify-content: space-between;
}

// .prodNamePrice {
//     display: flex;
//     flex-direction: column;
// }

.prodDetails img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 35px;
}

button {
    // might need to be more specific in button name later :)
    display: block;
    margin: auto;
}

// SOFA SALE SECTION STYLES

#sofaImg1 {
    background-image: url(../assets/vert1.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
}

#sofaImg2 {
    background-image: url(../assets/vert2.jpg);
    background-size: cover;
    height: 400px;
    width: 600px;
}

.sofaSale {
    display: flex;
    gap: 25px;
    justify-content: center;
}

// INSTAGRAM GALLERY STYLES
.instagram h2 {
    margin-top: 300px;
    text-align: center;
}

.instagram p {
    text-align: center;
}

.instaGallery {
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    width: calc(20% - 5px);
}

.instaGallery img {
    flex-basis: ;

}


